<div class="contest">
  <h3><a href="#!contest/{{ id }}">
    {{ name }}
    {{ seatName ? seatName : '' }}
    {{ area ? ' of ' + area : '' }}
    {{ subArea ? subArea : '' }}
  </a></h3>

  <p class="reporting">
    Reporting {{ precincts }} of {{ totalPrecincts }} precincts.
    {{#if called}}Called by the Star Tribune.{{/if}}
    {{#if ranked}}Ranked-choice contest ({{ candidates[0].ranks.length }} choices){{/if}}
  </p>

  <table>
    <thead>
      <tr>
        <th><span class="sr-only">Winner</span></th>
        <th>Candidate</th>

        {{#if !nonpartisan}}
          <th>Party</th>
        {{/if}}

        {{#if !ranked}}
          <th>Votes</th>
          <th>Percent</th>
        {{else}}
          {{#if final}}
            <th>Final</th>
          {{/if}}

          <th>1st choice</th>
          <th>2nd choice</th>
          <th>3rd choice</th>
        {{/if}}
      <tr>
    </thead>

    <tbody>
      {{#if candidates }}
        {{#each candidates as candidate, ci }}
          {{#if (simple && ci < 3) || !simple}}
            <tr>
              <td>{{#if candidate.winner }}<i class="fa fa-check"></i>{{/if}}</td>
              <td>{{ candidateName(candidate) }}</td>

              {{#if !nonpartisan}}
                <td>{{ candidate.party }}</td>
              {{/if}}

              {{#if !ranked}}
                <td>{{ formatVotes(candidate.votes) }}</td>
                <td>{{ formatPercent(candidate.percent) }}</td>
              {{else}}
                {{#if final}}
                  <td>{{ formatPercent(candidate.percent) }} ({{ formatVotes(candidate.votes) }})</td>
                {{/if}}

                <td>{{ formatPercent(candidate.ranks[0].percent) }} ({{ formatVotes(candidate.ranks[0].votes) }})</td>
                <td>{{ formatPercent(candidate.ranks[1].percent) }} ({{ formatVotes(candidate.ranks[1].votes) }})</td>
                <td>{{ formatPercent(candidate.ranks[2].percent) }} ({{ formatVotes(candidate.ranks[2].votes) }})</td>
              {{/if}}
            </tr>
          {{/if}}
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>

<script>
import api from '../api.js';

export default {
  oncreate: function() {
    // Allow data to set all propeties, since we can't set
    // all from the markup of a component
    this.observe('data', d => {
      if (_.isPlainObject(d)) {
        this.set(d);
      }
    });

    // Look at ID, and see if we should load data
    this.observe('id', d => {
      if (d && !this.get('updated')) {
        this.loadData(d);
      }
    });
  },

  methods: {
    loadData: function(id) {
      api('results', 'contests/' + id || this.get('id'))
        .then(contest => {
          this.set(contest);
        })
        .catch(e => {
          console.error(e);
        });
    }
  },

  helpers: {
    candidateName: c => {
      return c.displayName
        ? c.displayName
        : c.writeIn
          ? 'Write-in'
          : _.filter([
            c.title,
            c.prefix,
            c.first,
            c.middle,
            c.nick ? '"' + c.nick + '"' : null,
            c.last,
            c.suffix
          ]).join(' ');
    },

    formatPercent(percent) {
      return _.isNumber(percent) || percent ? percent + '%' : '';
    },

    formatVotes(votes) {
      return _.isNumber(votes) ? votes.toLocaleString() : '';
    }
  }
};
</script>
