
<div class="contest">
  {{#if (!embedded && (!id || !updated))}}
    <div class="loading">
      Loading contest details...
    </div>
  {{else}}

    {{#if embedded}}
      <h3>
        <a href="#!contest/{{ id }}">
          {{ area ? '' + area: '' }}{{ subArea ? ' ' + subArea: '' }}:
          {{ name }}
          {{ seatName ? seatName: '' }}
        </a>

        {{#if questionTitle}}
          <br> <h3 class="muted">{{ questionTitle }}</h3>
        {{/if}}
      </h3>
    {{else}}
      <h2>
        <a href="#!contest/{{ id }}">
          {{ area ? '' + area: '' }}{{ subArea ? ' ' + subArea: '' }}:
          {{ name }}
          {{ seatName ? seatName: '' }}
        </a>

        {{#if questionTitle}}
          <br> <span class="muted">{{ questionTitle }}</span>
        {{/if}}
      </h2>
    {{/if}}

    <p class="reporting">
      Reporting {{ precincts }} of {{ totalPrecincts }} precincts.
      {{#if (seats && seats > 1)}}{{ seats }} seats.{{/if}}
      {{#if called}}Called by the Star Tribune.{{/if}}
      {{#if ranked}}Ranked-choice contest ({{ candidates[0].ranks.length }} choices){{/if}}
      {{#if (final && close)}}This race is very close and may need a recount.{{/if}}
      {{#if (!embedded && updatedMoment)}}Last updated {{ updatedMoment.fromNow() }}.{{/if}}
    </p>

    {{#if (!simple && questionText)}}
      <p class="question">{{ questionText }}</p>
    {{/if}}

    <table>
      <thead>
        <tr>
          <th><span class="sr-only">Winner</span></th>
          <th><span class="sr-only">Candidate</span></th>

          {{#if !nonpartisan}}
            <th>Party</th>
          {{/if}}

          {{#if !ranked}}
            <th class="heading-alternate choice column-small">Votes</th>
            <th class="heading-alternate choice column-small">Percent</th>
          {{else}}
            <th class="heading-alternate VotesColumn choice">Votes</th>
            <th class="heading-alternate choice">1st choice</th>
            <th class="heading-alternate choice">2nd choice</th>
            <th class="heading-alternate choice">3rd choice</th>
          {{/if}}
        <tr>
      </thead>

      <tbody>
        {{#if candidates }}
          {{#each candidates as candidate, ci }}
            {{#if (simple && ci < 3) || !simple}}
              <tr>
                <td class="checkmark">{{#if candidate.winner }}<i class="fa fa-check"></i>{{/if}}</td>
                <td class="candidate-name nameActual">
                  {{ candidateName(candidate) }}
                  {{#if candidate.incumbent}}
                    <span class="election-legend-symbol is-incumbent">(i)</span>
                    <span class="sr-only">(is incumbent)</span>
                  {{/if}}
                </td>

                {{#if !nonpartisan}}
                  <td>{{ candidate.party }}</td>
                {{/if}}

                {{#if !ranked}}
                  <td class="candidate-name text-right">{{ formatVotes(candidate.votes) }}</td>
                  <td class="candidate-name text-right">{{ formatPercent(candidate.percent) }}</td>
                {{else}}
                  <td class="candidate-name text-right">
                    {{#if (candidate.votes && candidate.percent)}}
                      <span class="ranked-total">{{ formatVotes(candidate.votes) }}</span><br>
                      <span class="ranked-percent">{{ formatPercent(candidate.percent) }}</span>
                    {{/if}}
                  </td>
                  <td class="candidate-name text-right">
                    <span class="ranked-total">{{ formatVotes(candidate.ranks[0].votes) }}</span><br>
                    <span class="ranked-percent">{{ formatPercent(candidate.ranks[0].percent) }}</span>
                  </td>
                  <td class="candidate-name text-right">
                    <span class="ranked-total">{{ formatVotes(candidate.ranks[1].votes) }}</span><br>
                    <span class="ranked-percent">{{ formatPercent(candidate.ranks[1].percent) }}</span>
                  </td>
                  <td class="candidate-name text-right">
                    <span class="ranked-total">{{ formatVotes(candidate.ranks[2].votes) }}</span><br>
                    <span class="ranked-percent">{{ formatPercent(candidate.ranks[2].percent) }}</span>
                  </td>
                {{/if}}
              </tr>
            {{/if}}
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  {{/if}}
</div>

<script>
import api from '../api.js';
import defaultContest from '../contest-default.js';

export default {
  oncreate: function() {
    // Allow data to set all propeties, since we can't set
    // all from the markup of a component
    this.observe('data', d => {
      if (_.isPlainObject(d)) {
        this.set(defaultContest(d));
      }
    });

    // Look at ID, and see if we should load data
    this.observe('id', (d, o) => {
      if (d && d !== o) {
        this.loadData(d);
      }
    });

    // Poll if not embedded
    if (!this.get('embedded')) {
      this.dataInterval = setInterval(_.bind(this.loadData, this), 30000);
    }

    // Highlight changes
    this.observe(
      'candidates',
      (n, o) => {
        // If not candides on either side, either inital or something wrong
        if (!n || !o) {
          return;
        }

        // Since, a set can change contests, but still kind of keep
        // a reference to it, see if the candidates names have changed
        let nameDiff = _.differenceBy(n, o, c => {
          return '' + c.last + c.first;
        });
        if (nameDiff && nameDiff.length) {
          return;
        }

        // See if votes changed
        let diff = _.differenceBy(n, o, 'votes');
        if (this.get('ranked')) {
          diff =
            !diff || !diff.length
              ? _.differenceBy(n, o, c => {
                return c.ranks ? c.ranks[0].votes : undefined;
              })
              : diff;
        }

        if (diff && diff.length) {
          this.set({
            voteChange: true
          });

          setTimeout(() => {
            if (this) {
              this.set({
                voteChange: false
              });
            }
          }, 2000);
        }
      },
      { init: false }
    );
  },

  ondestroy: function() {
    // Note that using a this.set(interval) does not seem to work, maybe
    // the value is destroyed before this is called.
    if (this.dataInterval) {
      clearInterval(this.dataInterval);
    }
  },

  methods: {
    loadData: function(id) {
      id = id || this.get('id');

      if (!id) {
        console.error('No ID provided for contest.');
      }

      api('results', 'contests/' + id || this.get('id'))
        .then(contest => {
          this.set(defaultContest(contest));
        })
        .catch(e => {
          console.error(e);
        });
    }
  },

  computed: {
    updatedMoment(updated, updatedMoment) {
      return updatedMoment && updatedMoment.unix() === updated
        ? updatedMoment
        : updated ? moment.unix(updated) : undefined;
    }
  },

  helpers: {
    candidateName: c => {
      return c.display
        ? c.display
        : c.writeIn
          ? 'Write-in'
          : _.filter([
            c.title,
            c.prefix,
            c.first,
            c.middle,
            c.nick ? '"' + c.nick + '"' : null,
            c.last,
            c.suffix
          ]).join(' ');
    },

    formatPercent(percent) {
      return _.isNumber(percent)
        ? (Math.round(percent * 10) / 10).toLocaleString() + '%'
        : '';
    },

    formatVotes(votes) {
      return _.isNumber(votes) ? votes.toLocaleString() : '';
    }
  }
};
</script>
