<div class="dashboard">
  {{#if !dataLoaded}}
    <strong>Loading...</strong>
  {{else}}
    <Search searchData="{{ searchData }}" />
    <p class="updated">Last updated {{ updatedMoment.fromNow() }}.</p>
    <Contest data="{{ contests['20171107-local-43000-2001'] }}" simple="true" embedded="true" />
  {{/if}}
</div>

<script>
import api from '../api.js';
import defaultContest from '../contest-default.js';

import Search from './search.svelte.html';
import Contest from './contest.svelte.html';

export default {
  components: {
    Contest,
    Search
  },

  oncreate: function() {
    // Allow data to set all propeties, since we can't set
    // all from the markup of a component
    this.observe('data', d => {
      if (_.isPlainObject(d)) {
        this.set(d);
      }
    });

    // Load data
    this.loadData();

    // Poll data
    this.dataInterval = setInterval(_.bind(this.loadData, this), 30000);
  },

  ondestroy: function() {
    // Note that using a this.set(interval) does not seem to work, maybe
    // the value is destroyed before this is called.
    if (this.dataInterval) {
      clearInterval(this.dataInterval);
    }
  },

  methods: {
    loadData: function() {
      api('results', 'sets/dashboard')
        .then(set => {
          if (set && set.contests) {
            set.contests = _.keyBy(_.map(set.contests, defaultContest), 'id');
          }

          this.set(set);
        })
        .catch(e => {
          console.error(e);
        });
    }
  },

  computed: {
    dataLoaded: (contests, updated) => {
      return !_.isEmpty(contests) && updated;
    },

    updatedMoment(updated, updatedMoment) {
      return updatedMoment && updatedMoment.unix() === updated
        ? updatedMoment
        : updated ? moment.unix(updated) : undefined;
    }
  },

  data: () => {
    return {
      dataLoaded: false
    };
  }
};
</script>
