
<nav class="group-nav {{ bottom ? 'bottom-nav' : 'default-nav' }}">
  <h3 class="election-results-sidebar-heading">More results</h3>
  <ul class="desktopNav">
    <li class="subTileNav">Metro-Area Races</li>
    <li><a href="#!set/areas/minneapolis">Minneapolis</a></li>
    <li><a href="#!set/areas/st-paul">St. Paul</a></li>
    <li class="bottom"><a href="#!set/sets/metro-local">Metro city races</a></li>
    <li class="subTileNav">Schools</li>
    <li><a href="#!set/sets/metro-school-board">Metro school board</a></li>
    <li><a href="#!set/sets/metro-school-questions">Metro school questions</a></li>
    <li><a href="#!set/sets/outstate-local">Other MN local</a></li>
    <li><a href="#!set/sets/outstate-school-board">Other MN board</a></li>
    <li class="bottom"><a href="#!set/sets/outstate-school-questions">Other MN questions</a></li>
    <li class="subTileNav bottom">Other</li>
    <li class="subTileNav">Search</li>
  </ul>

  <h3 class="mobileNavHeading">More results</h3>
  <select class="mobileNav" bind:value="navSelect">
    <option value="set/areas/minneapolis">Minneapolis</option>
    <option value="set/areas/st-paul">St. Paul</option>
    <option value="set/sets/metro-local">Metro races</option>
    <option value="set/sets/metro-school-board">Metro school board</option>
    <option value="set/sets/metro-school-questions">Metro school questions</option>
    <option value="set/sets/outstate-local">Other MN local</option>
    <option value="set/sets/outstate-school-board">Other MN board</option>
    <option value="set/sets/outstate-school-questions">Other MN questions</option>
    <option value="/">Search</option>
  </select>
</nav>

<script>
export default {
  oncreate: function() {
    // Allow data to set all propeties, since we can't set
    // all from the markup of a component
    this.observe('data', d => {
      if (_.isPlainObject(d)) {
        this.set(d);
      }
    });

    this.observe(
      'navSelect',
      n => {
        if (n && this.get('router')) {
          this.get('router').navigate(n);
        }
      },
      { init: false }
    );
  }
};
</script>
