
<nav class="group-nav {{ bottom ? 'bottom-nav' : 'default-nav' }}">
  <h3 class="election-results-sidebar-heading">More results</h3>
  <ul class="desktopNav">
    <li class="subTileNav">Metro-Area Races</li>
    <li><a href="#!set/areas/minneapolis">Minneapolis</a></li>
    <li><a href="#!set/areas/st-paul">St. Paul</a></li>
    <li class="bottom"><a href="#!set/sets/metro-local">Metro city races</a></li>
    <li class="subTileNav">SCHOOLS</li>
    <li><a href="#!set/sets/metro-school-board">Metro school board</a></li>
    <li><a href="#!set/sets/metro-school-questions">Metro school questions</a></li>
    <li><a href="#!set/sets/outstate-local">Other MN local</a></li>
    <li><a href="#!set/sets/outstate-school-board">Other MN board</a></li>
    <li class="bottom"><a href="#!set/sets/outstate-school-questions">Other MN questions</a></li>
    <li class="subTileNav bottom">OTHER</li>
    <li class="subTileNav">Search</li>
<!--    <li><a href="#!/">Search</a></li>  -->
  </ul>
  <select class="mobileNav">
      <option><a href="#!set/areas/minneapolis">Minneapolis</a></option>
      <option><a href="#!set/areas/st-paul">St. Paul</a></option>
      <option><a href="#!set/sets/metro-local">Metro races</a></option>
      <option><a href="#!set/sets/metro-school-board">Metro school board</a></option>
      <option><a href="#!set/sets/metro-school-questions">Metro school questions</a></option>
      <option><a href="#!set/sets/outstate-local">Other MN local</a></option>
      <option><a href="#!set/sets/outstate-school-board">Other MN board</a></option>
      <option><a href="#!set/sets/outstate-school-questions">Other MN questions</a></option>
      <option><a href="#!/">Search</a></option>
    </select>
</nav>

<script>
export default {
  oncreate: function() {
    // Allow data to set all propeties, since we can't set
    // all from the markup of a component
    this.observe('data', d => {
      if (_.isPlainObject(d)) {
        this.set(d);
      }
    });
  }
};
</script>
