
<div class="set">
  {{#if (contests && contests.length)}}
    <h2>{{ title }} races</h2>

    <div class="contestChatter">
      {{#if updatedMoment}}Last updated {{ updatedMoment.fromNow() }}.{{/if}}
      {{ contests.length }} contests in this set with a total of {{ countCandidates(contests) }} candidates.
    </div>

    {{#each contests as contest, ci }}
      <Contest data="{{ contest }}" embedded="true" />
    {{/each}}
  {{else}}
    <div class="loading">
      Loading...
    </div>
  {{/if}}
</div>

<script>
import api from '../api.js';
import defaultContest from '../contest-default.js';
import Contest from './contest.svelte.html';

export default {
  components: {
    Contest
  },

  oncreate: function() {
    // Proxy if used within another component
    this.observe('data', d => {
      if (_.isPlainObject(d)) {
        if (d && d.contests) {
          d.contests = _.map(d.contests, defaultContest);
        }

        this.set(d);
      }
    });

    // Get data when ID changes
    this.observe('setID', d => {
      if (d) {
        this.loadData(d);
      }
    });

    // Poll data
    this.dataInterval = setInterval(_.bind(this.loadData, this), 30000);
  },

  ondestroy: function() {
    // Note that using a this.set(interval) does not seem to work, maybe
    // the value is destroyed before this is called.
    if (this.dataInterval) {
      clearInterval(this.dataInterval);
    }
  },

  methods: {
    loadData: function(setID) {
      setID = setID || this.get('setID');

      if (!setID) {
        console.error('No setID provided for set.');
      }

      api('results', setID)
        .then(set => {
          if (set && set.contests) {
            set.contests = _.map(set.contests, defaultContest);
          }

          this.set(set);
        })
        .catch(e => {
          console.error(e);
        });
    }
  },

  computed: {
    updatedMoment(contests, updatedMoment) {
      // Look for oldest updated
      let oldest = contests ? _.minBy(contests, 'updated') : undefined;
      oldest = _.isPlainObject(oldest) ? oldest.updated : undefined;

      return updatedMoment && updatedMoment.unix() === oldest
        ? updatedMoment
        : oldest ? moment.unix(oldest) : undefined;
    }
  },

  helpers: {
    countCandidates: function(contests) {
      if (contests) {
        return contests.reduce((sum, c) => {
          return c.candidates ? sum + c.candidates.length : sum;
        }, 0);
      }

      return 0;
    }
  }
};
</script>
