
<div class="set">
  {{#if (contests && contests.length)}}
    <h2>{{ title }} contests</h2>

    <div class="contestChatter">
      {{ contests.length }} contests in this set with a total of {{ countCandidates(contests) }} candidates.
    </div>

    {{#each contests as contest, ci }}
      <Contest data="{{ contest }}" />
    {{/each}}
  {{else}}
    <div class="loading">
      Loading...
    </div>
  {{/if}}
</div>

<script>
import api from '../api.js';
import Contest from './contest.svelte.html';

export default {
  components: {
    Contest
  },

  oncreate: function() {
    // Proxy if used within another component
    this.observe('data', d => {
      if (_.isPlainObject(d)) {
        this.set(d);
      }
    });

    // Get data when ID changes
    this.observe('setID', d => {
      if (d) {
        this.loadData(d);
      }
    });
  },

  methods: {
    loadData: function(setID) {
      api('results', setID)
        .then(set => {
          this.set(set);
        })
        .catch(e => {
          console.error(e);
        });
    }
  },

  helpers: {
    countCandidates: function(contests) {
      if (contests) {
        return contests.reduce((sum, c) => {
          return c.candidates ? sum + c.candidates.length : sum;
        }, 0);
      }

      return 0;
    }
  }
};
</script>
