<div class="l-election-results-header">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />    
    <h1 class="election-results-header-title">2017 Election Results</h1>
    <table class="election-table election-table-legend">
        <tbody>
            <tr>
                <td class="election-legend-symbol  candidate-race-status is-winner"><i class="fa fa-check"></i></td>
                <td class="election-legend-key">Winner</td>
                <td class="election-legend-symbol  is-incumbent"><i class="fa fa-info" aria-hidden="true"></i></td>
                <td class="election-legend-key">Incumbent</td>
            </tr>
        </tbody>
    </table>
</div>
