/**
 * Helper styles.
 */

// Clearfix
.content .cf::before,
.content .cf::after {
  content: " ";
  display: table;
}

.content .cf::after {
  clear: both;
}

// Screen reader only
.content .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.content .align-right {
  text-align: right;
}

.content .align-center {
  text-align: center;
}

.content .align-left {
  text-align: left;
}
