/**
 * Specific to the election results nav.
 */

.group-nav {
  margin-bottom: 1em;

  // There are two navs, one for mobile, and one for
  .list-nav {
    display: block;
  }

  .dropdown-nav {
    display: none;
  }

  h3 {
    margin-bottom: 0.5em;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 0.5em 0;
      font-size: 0.75em;
      line-height: 1.15em;
      list-style: none;
      margin: 0;

      &.bottom {
        margin-bottom: 0.5em;
      }

      &.sub-title-nav {
        text-transform: uppercase;
        font-weight: bold;
        color: #444;
        font-size: 0.8em;
        border-top: 1px solid #e7e7e7;
        padding-top: 1em;
        width: 90%;

        &:first-of-type {
          border-top: none;
          padding-top: 0;
        }
      }
    }
  }

  select {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.25em;
    background-size: 7px 7px, 7px 7px, 1px 2em;
    background-repeat: no-repeat;
    padding: 10px !important;
    background-color: #fff !important;
    width: 88%;
    margin-bottom: 2em;
  }

  @media only screen and (max-width: $bp-medium) {
    .list-nav {
      display: none;
    }

    .dropdown-nav {
      display: block;
    }

    &.sticky {
      position: fixed;
      background-color: #fff;
      z-index: 10;
      border-bottom: 2px solid #eee;
      padding-bottom: 5px;
      width: 110%;
      top: 10px;
      left: 0;
      padding-left: 10px;

      h3 {
        height: 1.85em;
      }

      select {
        margin-bottom: 0.4em;
      }
    }
  }
}
