/**
 * High-level layout
 */

.election-app {
  max-width: $bp-large;
  margin: auto;

  @media only screen and (max-width: $bp-large) {
    padding-left: 1em;
    padding-right: 1em;
  }

  .group-nav {
    float: left;
    width: 20%;
  }

  .election-app-main {
    float: right;
    width: 75%;
  }

  @media only screen and (max-width: $bp-medium) {
    .election-app-main,
    .group-nav {
      width: 100%;
      float: none;
    }
  }
}
