/**
 * Specific to the election results nav.
 */

.group-nav {
  display: none;
  margin-bottom: 1em;

  // There are two navs, one for mobile, and one for
  &.default-nav,
  .list-nav {
    display: block;
  }

  &.bottom-nav,
  .dropdown-nav {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 0.5em 0;
      font-size: 0.75em;
      line-height: 1.15em;
      list-style: none;
      margin: 0;

      &.bottom {
        margin-bottom: 0.5em;
      }

      &.sub-title-nav {
        text-transform: uppercase;
        font-weight: bold;
        color: #444;
        font-size: 0.8em;
        border-top: 1px solid #e7e7e7;
        padding-top: 1em;

        &:first-of-type {
          border-top: none;
          padding-top: 0px;
        }
      }
    }
  }

  @media only screen and (max-width: $bp-medium) {
    &.default-nav,
    .list-nav {
      display: none;
    }

    &.bottom-nav,
    .dropdown-nav {
      display: block;
    }
  }

  select {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.25em;
      background-size: 7px 7px, 7px 7px, 1px 2em;
    background-repeat: no-repeat;
        padding: 10px !important;
    background-color: #fff !important;
  }
}