/**
 * Project specific styling.
 */

// Outside app
.fa-check::before {
  color: $color-checkmark;
}

.site-header a#header-logo {
  height: 32px;
}

aside.article-share {
  margin-top: 10px;
  margin-bottom: 40px;
}

ul.article-tools.nav.story-share.body-sharing-top {
  margin-top: 0;
  margin-bottom: 20px;
}

// Inside app
.election-app {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    color: #444;

    &:hover {
      color: #777;
    }
  }

  h2 {
    font-size: 1.2em;
    font-family: $font-benton-sans;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 0.15em;
  }

  .loading {
    font-size: 0.85em;
    padding: 2em;
    text-align: center;
    margin-bottom: 1em;
  }

  .updated {
    font-size: 0.8em;
    margin-bottom: 1.5em;
    color: #444;
  }

  .updating {
    display: inline-block;
    font-size: 0.65em;
    color: #444;
    vertical-align: text-top;
    padding: 0;
    margin: 0 0 0 0.5em;
  }

  .text-right {
    text-align: right;
  }

  .footnote {
    font-size: 0.85em;
    display: inline-block;
    color: #787878;
    padding-left: 0.25em;
    vertical-align: top;
  }
}

// General helpers
// Clearfix
.cf::before,
.cf::after {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}

// Screen reader only
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Site view (demo, dev, etc)
.site-view {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.85em;
}

.site-view-develop {
  padding: 0.5em 1em;
  background-color: #7B4200;

  &::after {
    content: 'Develop';
  }
}

.site-view-staging {
  padding: 0.5em 1em;
  background-color: #6B0029;

  &::after {
    content: 'Demo version';
  }
}
