/**
 * Search form
 */

.search {
  padding: 0.75em 0;
  margin-bottom: 2em;

  .search-form {
    display: block;
//    margin: 0 auto 1em;
    width: 100%;
//    text-align: center;
  }

  input[type='search'] {
    padding: 0.39em;
    border: 1px solid #ccc;
    display: inline-block;
    width: 93%;
  }

  button {
    background-color: white;
    border: 1px solid #ccc;
    color: #444;
    height: 2em;
    width: 2em;
    display: inline-block;
  }

  .no-results {
    margin-bottom: 2em;
    font-size: 0.85em;
    text-align: center;
    color: #444;
  }

  .results {
    margin-bottom: 2em;

    .result a {
      display: block;
      font-size: 0.85em;
      padding: 0.15em 0.5em;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
    .search input[type='search'] {
        width: 82%;   
    }
    
}