/**
 * Styles for contest
 */

.contest {
  margin-bottom: 4em;

  h3 {
    line-height: 1.25em;
    padding-bottom: 0.25em;
    margin-bottom: 0;
  }

  .muted {
    display: inline-block;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.25em;
    margin-top: 0.15em;
    margin-bottom: 0.85em;
  }

  .reporting {
    font-size: 0.8em;
    color: #676767;
    margin-bottom: 1.75em;
  }

  .question {
    font-size: 0.85em;
    line-height: 1.4em;
    margin-bottom: 20px;
  }

  .contest-notes {
    font-size: 0.8em;
    line-height: 1.4em;
    padding-top: 1em;
    font-style: italic;
  }

  .checkmark {
    padding-right: 0;
    font-size: 0.85em;
  }

  .candidate-name {
    color: #444;
    font-size: 0.85em;
  }

  .ranked-total {
    font-weight: bold;
  }

  .ranked-percent {
    font-weight: 100;
    font-style: italic;
    font-size: 0.75em;
    line-height: 1.15em;
    display: block;
  }

  @keyframes votechange {
    0% {
      background: none;
    }

    60% {
      background: #ffeb0f;
    }

    100% {
      background: none;
    }
  }

  &.vote-change {
    h3,
    h2,
    .reporting,
    .question {
      animation: votechange 1s ease;
    }
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    vertical-align: middle;
    width: 100%;

    // Specificity to override default
    tbody tr:nth-child(even),
    tbody tr:nth-child(odd) {
      background-color: #fff;
    }

    tbody tr {
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      line-height: 1.15em;
    }

    th {
      text-align: center;
      padding: 0.5em;
      border-bottom: 2px solid #999;
      font-size: 0.75em;
      vertical-align: top;

      &.heading-alternate {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
      }
    }

    td {
      padding: 0.75em;
      vertical-align: top;
    }

    thead th.column-small {
      width: 15%;
    }

    thead th.final-count {
      width: 12%;
      border-top: 0;
      border-left: 0;
    }

    thead th.heading-alternate {
      width: 10%;
    }

    // Winner column
    thead th:nth-child(1) {
      width: 5%;
    }

    // Candidate column
    thead th:nth-child(2) {
      width: 33.333%;

      // Acts weird on mobile version
      .page-mobile & {
        width: auto;
      }
    }
  }

  // Responsive talbes for small ranked choice
  @media only screen and (max-width: $bp-xsmall) {
    &.ranked .responsive-table {
      max-width: 100%;
      overflow-x: auto;

      & > table {
        width: 100%;
      }
    }

    span.ranked-percent {
      font-size: 0.9em;
    }
  }
}
