/**
 * General tables styling
 */

.content table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.content th {
  border-bottom: 2px solid #222222;
  text-align: left;
}

.content th,
.content td {
  padding: 0.5em;
}

.content tbody tr:nth-child(odd) {
  background-color: #F1F1F1;
}
